/* Estilo general */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background: #f1de04;
  color: rgb(185, 3, 3);
  padding: 10px 0;
  text-align: center;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: rgb(185, 3, 3);
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background: #f1de04;
  color:rgb(185, 3, 3);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
